<p id="notice"><%= notice %></p>

<h1>Phrases</h1>

<table>
  <thead>
    <tr>
      <th>Spanish</th>
      <th>Translation</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for phrase in @phrases%>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td width="350"><%= link_to phrase.spanish, phrase_path(phrase) %></td>
    <td width="350"><%= phrase.translation %></td>
    <td width="90" align="center">
    <%= link_to(image_tag("icons/edit_dg.gif", :border => 0), edit_phrase_path(phrase))  %>&nbsp;<%= link_to(image_tag("icons/delete_dg.gif", :border => 0), phrase_path(phrase), :confirm => 'Are you sure you wish to delete this information?', :method => :delete) %>
  </td>
  </tr>
<% end %>
</table>
<p class="supertiny"></p>
<!--%= will_paginate @phrases %-->

<%= link_to 'Add a new spanish phrase', new_phrase_path %>
